@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  /* colors */
  --color-brand-white: #f7ede2;
  --color-brand-yellow: #f6bd60;
  --color-brand-pink-100: #f5cac3;
  --color-brand-pink-200: #f28482;
  --color-brand-blue: #84a59d;
  --color-brand-black: #252525;

  /* typography */
  /* font families */
  --font-caveat: var(--font-caveat);
  --font-playfair: var(--font-playfair);
  --font-nunito: var(--font-nunito);

  /* font sizes */
  --text-fs-900: 4.5rem;
  --text-fs-800: 3.75rem;
  --text-fs-700: 2.5rem;
  --text-fs-600: 1.75rem;
  --text-fs-500: 1.25rem;
  --text-fs-400: 1rem;
  --text-fs-300: 0.75rem;
  --text-fs-200: 0.5rem;

  /* breakpoint */
  --breakpoint-lg: 1000px;
  --breakpoint-md: 750px;
}

@layer base {
  html {
    @apply scroll-smooth font-sans;
  }
  body {
    @apply overflow-x-hidden leading-normal tracking-normal font-nunito bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance leading-none;
  }
  p {
    @apply text-pretty;
  }
  * {
    @apply border-border outline-ring/50;
  }
}

@utility form-label {
  @apply after:absolute after:content-["*"] after:text-red-500 after:ml-0.5 block;
}

@utility form-error-message {
  @apply text-red-500 italic text-fs-200;
}

@utility divider {
  @apply h-px w-[80%] mx-auto bg-brand-black/20;
}

@utility page-title-bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='300' preserveAspectRatio='none' viewBox='0 0 1440 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1075%26quot%3b)' fill='none'%3e%3crect width='1440' height='300' x='0' y='0' fill='rgba(247%2c 237%2c 226%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c338.172C63.967%2c332.655%2c121.892%2c307.839%2c179.076%2c278.648C242.095%2c246.479%2c309.795%2c218.141%2c349.656%2c159.683C393.066%2c96.02%2c413.571%2c18.097%2c409.196%2c-58.834C404.599%2c-139.666%2c385.319%2c-227.717%2c324.58%2c-281.25C265.208%2c-333.578%2c176.66%2c-326.023%2c97.849%2c-333.243C32.74%2c-339.208%2c-28.587%2c-323.74%2c-93.837%2c-319.581C-181.479%2c-313.995%2c-282.589%2c-359.005%2c-351.527%2c-304.6C-419.333%2c-251.087%2c-417.766%2c-146.941%2c-421.915%2c-60.662C-425.779%2c19.697%2c-415.598%2c101.88%2c-374.396%2c170.981C-335.401%2c236.379%2c-269.618%2c280.306%2c-200.094%2c311.353C-137.377%2c339.36%2c-68.432%2c344.074%2c0%2c338.172' fill='%23f2e2d0'%3e%3c/path%3e%3cpath d='M1440 719.385C1548.725 740.8530000000001 1659.07 845.082 1757.184 793.549 1852.995 743.226 1847.434 601.473 1867.107 495.053 1882.909 409.577 1878.67 324.475 1859.577 239.674 1841.72 160.362 1803.742 91.096 1760.634 22.168999999999983 1710.007-58.77999999999997 1671.92-155.733 1586.105-197.586 1495.88-241.59000000000003 1380.742-252.15200000000004 1291.194-206.786 1203.836-162.529 1201.882-35.41300000000001 1131.528 32.706999999999994 1050.3980000000001 111.261 876.556 105.054 854.703 215.84699999999998 833.275 324.486 977.89 391.75 1043.049 481.281 1093.422 550.495 1120.839 638.361 1194.249 682.395 1266.757 725.8879999999999 1357.05 703.006 1440 719.385' fill='%23fcf9f5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1075'%3e%3crect width='1440' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@utility newsletter-bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(247%2c 237%2c 226%2c 1)'%3e%3c/rect%3e%3cpath d='M1440 0L1287.81 0L1440 229.45z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1287.81 0L1440 229.45L1440 237.75L1081.01 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1081.01 0L1440 237.75L1440 260.02L942.24 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M942.24 0L1440 260.02L1440 417.46999999999997L931.58 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L417.48 560L0 416z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 416L417.48 560L558.6 560L0 293.46z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 293.46L558.6 560L822.24 560L0 260.24z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 260.24L822.24 560L979.8 560L0 144.75z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
